<% content_for :email_preheader, t("devise.mailer.email_content.email_changed.preheader") %>
<% content_for :email_eyebrow, t("mailers.shared.eyebrows.security") %>
<% content_for :email_title, t("devise.mailer.email_content.email_changed.title") %>
<% content_for :email_intro, t("devise.mailer.email_content.email_changed.intro") %>

<p style="margin: 0 0 16px;"><%= t("devise.mailer.email_content.email_changed.greeting", email: @email) %></p>

<%= render "shared/mailer/callout",
           title: t("devise.mailer.email_content.email_changed.callout_title"),
           tone: "info",
           content: (@resource.try(:unconfirmed_email?) ?
             t("devise.mailer.email_content.email_changed.pending_body", email: @resource.unconfirmed_email) :
             t("devise.mailer.email_content.email_changed.updated_body", email: @resource.email)) %>
