<% content_for :email_preheader, t("devise.mailer.email_content.password_change.preheader") %>
<% content_for :email_eyebrow, t("mailers.shared.eyebrows.security") %>
<% content_for :email_title, t("devise.mailer.email_content.password_change.title") %>
<% content_for :email_intro, t("devise.mailer.email_content.password_change.intro") %>

<p style="margin: 0 0 16px;"><%= t("devise.mailer.email_content.password_change.greeting", email: @resource.email) %></p>
<p style="margin: 0;"><%= t("devise.mailer.email_content.password_change.body") %></p>
