<% url = unlock_url(@resource, unlock_token: @token) %>
<% content_for :email_preheader, t("devise.mailer.email_content.unlock_instructions.preheader") %>
<% content_for :email_eyebrow, t("mailers.shared.eyebrows.security") %>
<% content_for :email_title, t("devise.mailer.email_content.unlock_instructions.title") %>
<% content_for :email_intro, t("devise.mailer.email_content.unlock_instructions.intro") %>
<% content_for :email_cta_label, t("devise.mailer.email_content.unlock_instructions.cta") %>
<% content_for :email_cta_url, url %>

<p style="margin: 0 0 16px;"><%= t("devise.mailer.email_content.unlock_instructions.greeting", email: @resource.email) %></p>
<p style="margin: 0;"><%= t("devise.mailer.email_content.unlock_instructions.body") %></p>
